header {
  position: fixed;
  z-index: 1000;
  overflow: auto;
}

header span {
  color: #c2dfe3;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: auto 20px;
}

footer {
  z-index: 2;
}

  /* Nav Bar */
  .left-sidenav ul {
    top: 78px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #282a29;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .left-sidenav li a {
    display: block;
    color: #e0fbfc;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: auto 0;
  }
  
  .left-sidenav li a.active {
    background-color: #9db4c0;
    color: #5c6b73;
  }
  
  .left-sidenav li a:hover:not(.active) {
    background-color: #c2dfe3;
    color: #5c6b73;
  }

.main-content {
  max-width: 800px;
  margin: 42px auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 0px;
}

h1 {
  text-align: center;
  color: #5c6b73;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #5c6b73;
  font-weight: 700;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #5c6b73;
  border-radius: 4px;
  font-size: 16px;
}

/* Change outline and border color when focused */
.form-group input:focus,
.form-group select:focus {
  border-color: #253237; /* Blue border */
  outline: 2px solid #252525; /* Blue outline */
}

.readonly-text{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f0f0f0; 
  color: #777;
  margin-top: 5px;
}

.img-upload-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.img-upload {
  border: 2px dashed #ccc;
  padding: 80px;
  text-align: center;
  background-color: #fff;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-upload img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

button[type="submit"],
button[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #253237;
  color: #e0fbfc;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button[class="save"]:hover {
  background-color: #5f9175;
  cursor: pointer;
}

button[class="back"]:hover {
  background-color: #bc8282;
  cursor: pointer;
}

.admin-dashboard-btn {
  color: #e0fbfc;
  filter: none;
  text-decoration: none;
}

.admin-dashboard-btn:hover {
  text-decoration: underline;
  filter: none;
}

#info{
  position:fixed;
  padding: 10px 20px;
  left: 50%;
  translate: -50% 0;

  top: -100px;
  opacity: 0;

}
.success-message,
.error-message {
border-radius: 5px;
padding: 10px;
color: white;
}
.success-message {
  background-color: #4CAF50; 
  color: white;
}

.error-message {
  background-color: #FF5733; 
  color: white;
}

#info:not(:empty){
  animation: fade 5s;
}

@keyframes fade{
  0%{top: -100px; opacity:0;}
  10%{top: 100px; opacity:1;}
  90%{top: 100px; opacity:1;}
  100%{top: -100px; opacity:0;}

}
