footer {
    z-index: 9999;
}

/* Container */
.container-forgot-password {
    margin: 0 auto;
    padding: 5%;
    width: 500px;
    height: 350px;
    top: 150px;
    margin-bottom: 20%;
    background-color: #e0fbfc;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #5c6b73;
    border-radius: 25px;
    position: relative;
    display: flex;
    box-shadow: #c2dfe3 0px 0px 30px;
}

h1 {
    margin: 20px auto;
    color: #253746;
}

/* Form styling */
form input {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 80%;
    padding: 10px;
    border: 3px solid #5C6B73;
    background-color: transparent;
    border-radius: 10px;
}

form input:focus {
    outline: 2px solid #5C6B73;
}

form button {
    width: 190px;
    height: 40px;
    padding: 10px;
    margin: 10% auto;
    background-color: #253237;
    color: #e0fbfc;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

form button:hover {
    background-color: #5c6b73;
}

p {
    position: relative;
}

.back-to-login {

    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #253237;
    text-decoration: none;
    margin-bottom: 5%;
    position: relative;

}

.back-to-login a {
    color: #007bff;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
    font-size: 20px;
}

.error {
    color: red;
}

.success {
    color: green;
}