footer {
    z-index: 9999;
}

/* Container */
.container-reset-password {
    margin: 0 auto;
    padding: 5%;
    width: 500px;
    height: 350px;
    top: 150px;
    margin-bottom: 20%;
    background-color: #e0fbfc;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #5c6b73;
    border-radius: 25px;
    position: relative;
    display: flex;
    box-shadow: #c2dfe3 0px 0px 30px;
}

h1 {
    margin: 10px auto;
    color: #253746;
}


/* Form styling */
form {
    background-color: transparent;
}

form input {
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 3px solid #5c6b73; /* Visible border */
    border-radius: 10px; /* Rounded corners */
    font-size: 16px;
    background-color: transparent;
    color: #5c6b73;
    outline: none;
}

form input[type='password']{
    font-family: "Arial", sans-serif; /* Using a font with larger circles */
    padding: 10px;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 3px;
}

form input::placeholder{
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 14px;
    opacity: 30%;
    letter-spacing: 0;
}

form input:focus{
    outline: 2px solid #5C6B73;
}

form button {
    width: 190px;
    height: 40px;
    padding: 10px;
    margin: auto;
    background-color: #253237;
    color: #e0fbfc;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transform: translateY(20px);
}

form button:hover {
    background-color: #5c6b73;
}

.error {
    color: red;
}

.success {
    display: block;
    text-align: center;
    margin-top: 25px;
    font-size: 16px; 
    font-weight: 600;
    color: green; 
    text-decoration: none;
    margin-bottom: 5%;
    position: relative;
}

.success a {
color: #007bff;
text-decoration: none;
}

.success a:hover {
text-decoration: underline;
font-size: 20px;
}
